<!--   Core JS Files   -->
<script src="{{ url_for('static', filename='core/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='core/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='core/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/perfect-scrollbar.jquery.min.js') }}"></script>
<!--  Google Maps Plugin    -->
<!-- Place this tag in your head or just before your close body tag. -->
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<!-- Chart JS -->
<script src="{{ url_for('static', filename='plugins/chartjs.min.js') }}"></script>
<!--  Notifications Plugin    -->
<script src="{{ url_for('static', filename='plugins/bootstrap-notify.js') }}"></script>
<!-- Control Center for Black Dashboard: parallax effects, scripts for the example pages etc -->
<script src="{{ url_for('static', filename='black-dashboard.min.js') }}"></script>

<script src="{{ url_for('static', filename='themeSettings.js') }}"></script>
