
    <div class="sidebar">
        <!--
          Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
      -->
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li>
                    <a href="/">
                        <h5>Home</h5>
                    </a>
                </li>
                <li>
                    <a href="/policy">
                        <h5>Policy Management</h5>
                    </a>
                </li>
                <li>
                    <a href="/logout">
                        <h5>Logout</h5>
                    </a>
                </li>
            </ul>
        </div>
    </div>
